.form {
    width: 700px;
    border-radius: 20px;
    background: linear-gradient(to right,#C850C0 0%, #4158D0 100%);
    box-shadow:  20px 20px 53px #468eb8, 
                -20px -20px 53px #62c8ff;
}
